<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Updation Form</h1>
    <form action="/edit/<%=data.id%>" method="POST">
    <label>Id</label>
    <input type="text" name="id" value="<%=data.id%>">
    <label>Name</label>
    <input type="text" name="name" value="<%=data.name%>">
    <label>TV Show</label>
    <input type="text" name="show" value="<%=data.show%>">
    <label>Image URL</label>
    <input type="text" name="image" value="<%=data.image%>">
    <input type="submit" value="Submit" />
    </form>
</body>
</html>