<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All the Items in the database</h1>
    <%data.forEach((val)=>{%>
       <img src="<%=val.image%>" alt="Image">
       <ul>
        <li><%=val.name%></li>
        <li><%=val.show%></li>
       </ul>
       <a class="text-red" href="http://localhost:3000/delete/<%=val.id%>">Delete</a>
       <a href="http://localhost:3000/edit/<%=val.id%>">Edit</a>
    <%})%>
    <a href="http://localhost:3000/">Back to Form</a>
</body>
</html>